#MRS4NDMAN's Starship TOML file

format = """
$directory\
$git_branch\
$git_state\
$git_status\
$git_metrics\

$rust\
$golang\
$docker\
$package\
$nodejs\
$python\
$java\
$haskell\

$fill\

$cmd_duration\
$jobs\
$username\
$hostname\
$shell\

$line_break\

$character"""


add_newline = false

[fill]
symbol = " "

[line_break]
disabled = false

[directory]
style = "#00ffff bold"
read_only = " îˆ¸"
truncation_length = 4
truncate_to_repo = false
use_os_path_sep = true
format = '[$read_only]($read_only_style)[ $path ]($style)'
read_only_style = '#fff000 bold'

[username]
style_user = 'purple bold'
style_root = '#fff000 bold'
format = '[ ï„„ $user ï„„]($style) '
show_always = true
disabled = true
# Disabled because Tmux already provides these

[hostname]
ssh_only = false
format = '[$hostname](bold purple) '
disabled = true
# Disabled because Tmux already provides these

[character]
success_symbol= '[ î­°](#00ffff bold)'
error_symbol = '[ ï„](bold red)'
vicmd_symbol = '[ î­°](#0000ff)'

[shell]
format = '[îªµ $indicator ]($style)'
bash_indicator = 'î¯Š'
zsh_indicator = 'ğ–¹'
fish_indicator = 'ïœ¹'
powershell_indicator = 'ï‘ _'
unknown_indicator = 'mystery shell'
style = 'bold #00ffff'
disabled = false

[os]
format = "[ïŒª  âœ]($style)"
style = "blue"
disabled = false

[os.symbols]
Pop = "ïŒª"

[git_branch]
format = "[$branch $symbol]($style)"
style = '#ff8800'

[git_metrics]
added_style = '#00cc00'
deleted_style = '#ff0000'
disabled = false

[git_commit]
commit_hash_length = 8

[git_state]
style = '#ff0000 bold'

[jobs]
symbol = 'ï€“'
style = 'yellow'

[cmd_duration]
format = "[$duration]($style)"
min_time = 300
show_milliseconds = false
style = 'bold italic purple bg:none'

# Programming Languages config

[aws]
symbol = "îŒ½  "

[conda]
symbol = "ï„Œ "

[dart]
symbol = "î˜ "

[elixir]
symbol = "î‰µ "

[elm]
symbol = "î˜¬ "

[golang]
symbol = "î˜§ "

[hg_branch]
symbol = "ï˜ "

[java]
symbol = "î‰– "

[julia]
symbol = "î˜¤ "

[haskell]
symbol = "Î» "

[memory_usage]
symbol = "ï¡š "

[nim]
symbol = "ïš¤ "

[nix_shell]
symbol = "ï‹œ "

[package]
symbol = "ï£– "
disabled = false
format = "[$symbol($version )]($style)"

[perl]
symbol = "î© "

[php]
symbol = "î˜ˆ "

[nodejs]
format = "[$symbol($version )]($style)"
detect_files = ["package.json", ".node-version"]
detect_folders = ["node_modules"]

[rust]
symbol = "î¨ "
format = '[$symbol($version)]($style) '

[python]
format = "[$symbol $version]($style)"

[container]
format = '[$symbol \[$name\]]($style) '

[docker_context]
symbol = "ïŒˆ "
format = "via [$symbol$context]($style) "
style = "blue bold"
only_with_files = true
detect_files = ["docker-compose.yml", "docker-compose.yaml", "Dockerfile"]
detect_folders = []
disabled = false

