# Ctrl + C no sale más como keypress al presionarlo | Ctrl + c does not appear as Keypress when using it
set echo-control-characters off

# Tab completion configuration
set show-all-if-ambiguous on
set completion-query-items 200

# Keybindings: 
"\C-f":"fv \n"
