# Ctrl + C no sale más como keypress al presionarlo | Ctrl + c does not appear as Keypress when using it
set echo-control-characters off

# Tab completion configuration
# set show-all-if-ambiguous on
set completion-query-items 200
set bell-style none

set editing-mode vi

$if mode=vi
    set keymap vi-command
    "k": history-substring-search-backward
    "j": history-substring-search-forward

    set keymap vi-insert
    "\C-e": clear-screen
$endif

# Keybindings: 
"\C-b":"fv \n"
"\C-f":"tmux neww tmux-sessionizer \n"
# "\en":"nvim \n"
"\e ":"fv \n"
